<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuración de Parámetros</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function boton(){
            bajo1=document.getElementById("bajo1").value;
            bajo2=document.getElementById("bajo2").value;
            normal1=document.getElementById("normal1").value;
            normal2=document.getElementById("normal2").value;
            alto1=document.getElementById("alto1").value;
            alto2=document.getElementById("alto2").value;
            document.getElementById("formconfig").submit()
        }
    </script>
</head>
<body style="background-image: url('/static/fondo.jpg')";
    <p><h4>Parámetros de configuración</h4></p>
    <br>
    <div id="config">
        <form action="/config1" method="post" id="formconfig">
            <p>
            <table class="table table-bordered" style="width: 200px;height: 50px;">
                <thead>
                <tr style="background-color: white;">
                    <th>Rango</th>
                    <th>Minimo</th>
                    <th>Máximo</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-primary">
                    <td>Bajo</td>
                    <td><input type="number" name="bajo1" id="bajo1"></td>
                    <td><input type="number" name="bajo2" id="bajo2"></td>
                </tr>
                <tr class="table-success">
                    <td>Normal</td>
                    <td><input type="number" name="normal1" id="normal1"></td>
                    <td><input type="number" name="normal2" id="normal2"></td>
                </tr>
                <tr class="table-danger">
                    <td>Alto</td>
                    <td><input type="number" name="alto1" id="alto1"></td>
                    <td><input type="number" name="alto2" id="alto2"></td>
                </tr>
                </tbody>
            </table>
            </p>
            <p><button type="submit" class="btn btn-primary" value="Ingresar" onclick="boton()">Guardar</button></p>
        </form>
    </div>
    
</body>
</html>